.app text h1{
    font-size: 500px;
    width: 640px;
    position: center ;
  }

  img {

   height: auto;
   width: 30%;
  
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }