.thumb1 { 
    background: url(4c8492_blue square.png) 50% 50% no-repeat; /* 50% 50% centers image in div */
    width: 250px;
    height: 250px;
  }
  
  .thumb1 a {
    display: block;
    width: 250px;
    height: 250px;
  }
  
  .thumb1 a:hover { YOUR HOVER STYLES HERE }