.app text h1{
  font-size: 500px;
  width: 640px;
  position: relative ;
  margin-left: auto;
}
  .app text h2{
    font-size: 100px;
    width: 640px;
    position: relative ;
    margin-left: auto;
  }
 
 .container {
  grid-template-columns: 230px 230px 230px;
  grid-template-rows: 230px 230px 230px; 
  grid-column-gap: 23px;
  grid-row-gap: 23px;
}

img {
  object-fit: cover;
  width:230px;
  height:230px;
}
