@font-face {
    font-family: Helvetica;
    src: url(sansation_light.woff);

}
body {
    background-color: rgb(247, 248, 245);
  }
  
.menu ul{
    display: inline-flex;
    margin: 150px;

}

.logo img{
    border-radius: 0px;
    margin-top: 50px;
        max-width: 5%;
        height: auto;
      }

.menu ul li{
    list-style: none;
    list-style-image: none;
    margin: 0px  60px;
    color: darkgray;
    cursor: pointer;
}

.banner{
    width: 80%;
    height: 70%;
    top: 28%;
    margin-left: 400px;
    position: absolute;
    color: #09143c;
}
.app-text{
    width: 50%;
    float: none;

}
.app text h1{
    font-size: 500px;
    width: 640px;
    position: relative;
    margin-left: 500px;

}
.app text p{
    text-align: justify;
    width: 200px;
    font-size: 15px;
    font-family: "Helvetica";
    margin: 30px 30px 40px;
    line-height: 25px;
    color: #09143c;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #FFFFFF;
  padding: 10px;
}
.grid-item {
  background-color: #4c8492
  background-color: #4c8492 ;
  border: 10px solid rgb(255,255,255);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.container {
  position: relative;
  width: 50%;