@font-face {
    font-family: Helvetica;
    src: url(sansation_light.woff);
 }
body {
    background-color: rgb(247, 248, 245);
  }
  
.menu ul{
    display: inline-flex;
    margin: 50px;

}

.menu ul li{
    list-style: none;
    list-style-image: none;
    margin: 0px  60px;
    color: darkgray;
    cursor: pointer;
}

.logo img{
    border-radius: 0px;
    margin-top: 50px;
        max-width: 2%;
        height: auto;
      }

.banner{
    width: 80%;
    height: 70%;
    top: 28%;
    margin-left: 400px;
    position: absolute;
    color: #09143c;
}
.app-text{
    width: 50%;
    float: left;

}

.app text h1{
    font-size: 43px;
    width: 640px;
    position: relative;
    margin-left: 500px;
}

.app text p{
    text-align: justify;
    width:650px;
    font-size: 15px;
    font-family: "Helvetica";
    margin: 30 px 0 30px 40px;
    line-height: 25px;
    color: #09143c;
}

