
 @import url('https://nyshaaa.github.io/id2116_Morning-Business/anqi.html');

 /*SASS variable that determine the "min-width" of the elements*/
 $bp: 140px;
 
 .grid{
   /*sets the container as a grid with variable number of columns*/
   display:grid;
   grid-template-columns: repeat(auto-fit, minmax($bp,1fr));
   grid-gap:1em;
   margin:1em 0 3em;
 }
 
 
 /* modifiers for the grid with fixed width elements, space-around style example*/
 .fix-grid--around{
   justify-items: center;

 }

  
 @font-face {
     font-family: Helvetica;
     src: url(sansation_light.woff);

    }
    .app-text{
        width: 50%;
        float: none;
    
    }
    .app text h1{
        font-size: 500px;
        width: 640px;
        position: relative;
        margin-left: 500px;
    
 
 }
 body {
     background-color: rgb(247, 248, 245);
   }
 
 /* aesthetic thingies*/
 body{
   font-family: 'Roboto', sans-serif;
   color:#333;
   background: #FFF0E0;
 }
 
 body>h1{/*clickbait :p */
   color:rgb(0, 0, 0);
   font-size:4rem;
 }
 
 body>h1, body>h2, {
   margin:1rem 1rem 0 1rem; 
 }
 body>p{
   margin:0.5rem 1rem;
 }
 

 