@font-face {
    font-family: Helvetica;
    src: url(sansation_light.woff);
 }




body {
    background-color: rgb(247, 248, 245);
  }
  
.menu ul{
    display: inline-block;
    margin: 50px;

}

.menu ul li{
    list-style: none;
    margin: 0 20px;
    color: #09143c;
    cursor: pointer;
}

.logo img{
    border-radius: 8px;
    margin-top: 200px;
        max-width: 40%;
        height: auto;
      }


