body {
    background-color: rgb(247, 248, 245);
  }
  
.menu ul{
    display: inline-block;
    margin: 50px;

}

.menu ul li{
    list-style: none;
    margin: 0 20 px;
    colour: #09143c;
    cursor: pointer;



}